@import "tailwindcss" source(".");

@theme {
	--font-sans:
		"Noto Sans JP", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Color Variables */
	--color-brand-main: "#62B7BB";
	--color-brand-sub1: "#97CFF1";
	--color-brand-sub2: "#D6E7CD";
	--color-brand-sub3: "#A1B2B3";
}

html,
body {
	@apply bg-white dark:bg-gray-950 text-gray-950 dark:text-neutral-200;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

body {
	@apply font-sans;
}
